{% extends 'base.html' %}
{% block content %}
<h1 class="mt-4 mb-4">Job Application Form</h1>
<form method="post">

    {% csrf_token %}

    <div class="form-group mb-4">
        <label for="first_name_id">First Name:</label>
        <input class="form-control" name="first_name" id="first_name_id" required>
    </div>
    <div class="form-group mb-4">
        <label for="last_name_id">Last Name:</label>
        <input class="form-control" name="last_name" id="last_name_id" required>
    </div>
    <div class="form-group mb-4">
        <label for="email_id">Email:</label>
        <input class="form-control" type="email" name="email" id="email_id" required>
    </div>
    <div class="form-group mb-4">
        <label for="date_id">Available start date:</label>
        <input class="form-control" type="date" name="date" id="date_id" required>
    </div>
    <div class="form-group mb-4">
        <label>Current occupation:</label>
        <br>
        <div id="occupation" class="btn-group-vertical">
            <input class="btn-check form-control" class="btn-check form-control" type="radio" name="occupation"
                   id="employed_id" value="employed" required>
            <label class="btn btn-outline-secondary" for="employed_id">Employed</label>

            <input class="btn-check form-control" type="radio" name="occupation" id="unemployed_id"
                   value="unemployed" required>
            <label class="btn btn-outline-secondary" for="unemployed_id">Unemployed</label>

            <input class="btn-check form-control" type="radio" name="occupation" id="self_employed_id"
                   value="self_employed" required>
            <label class="btn btn-outline-secondary" for="self_employed_id">Self Employed</label>

            <input class="btn-check form-control" type="radio" name="occupation" id="student_id" value="student"
                   required>
            <label class="btn btn-outline-secondary" for="student_id">Student</label>

        </div>

    </div>
    <button class="btn btn-secondary mb-4" type="submit">Submit</button>
    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

</form>
{% endblock %}